__pycache__
.DS_Store
*.pyc
*.zip
events.*
*.deb
!requirements.txt
*.txt

*.json
*.jsonl
!space_designer/data/images.json

*.bin
*.log
*.ckpt
*.pt
*.pth
*cred_root
*.env
**/.ipynb_checkpoints/
*.egg-info/

# Ignore everything in the models folder
*/models

# Ignore all image files
*.jpg
*.jpeg
*.png
*.gif
*.svg
*.bmp
*.webp
*.tiff

space_designer/data/*
space_designer/all_cb2_images_captions.csv
*.pdf

datasets/*
human_parsing/
wandb/
weights/
archive/
logs/*
venv/

# Ignore packages 
GroundingDINO/
